@use "../../styles/global";
@use "../../styles/mixins";

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 0;
  gap: 1em;
}

.menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-color-secondary);
  padding-bottom: 1em;
  min-width: 100%;
  border-radius: 12px;
  padding: 12px;
  justify-content: space-between;
}

.menu__image {
  width: 100px;
  height: 90px;
}

.menu__photo {
  width: 40px;
}

.menu__details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 70%;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.menu__square {
  display: flex;
  align-items: center;
  gap: 1em;
}
