@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.cart {
  display: flex;
  justify-content: space-between;
}

.cart-qty {
  position: relative;
  background-color: var(--badge-color);
  color: white;
  padding: 0.5em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-bg {
  position: absolute;
  left: 15px;
  top: -20px;
  background-color: var(--badge-color);
  padding: 1em;
  border-radius: 100%;
}

.cart-icon {
  height: 40px;
  display: block;
}
