@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 5em;
}

.faq__questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}

.faq__accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.faq__item {
  @include background-style;
  margin-bottom: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.faq__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
