@use "./variables" as *;
@use "./mixins" as *;
@use "typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

//light mode
:root {
  --bg-color: #{$light-primary-background};
  --bg-color-secondary: #{$light-secondary-background};
  --text-color: #{$light-primary-text};
  --text-color-tertiary: #{$light-tertiary-text};
  --icon-color: #{$light-icon};
  --logo-color: #{$light-logo};
  --badge-color: #{$light-badge-color};
}

//dark mode
[data-theme="dark"] {
  --bg-color: #{$dark-primary-background};
  --bg-color-secondary: #{$dark-secondary-background};
  --text-color: #{$dark-primary-text};
  --text-color-tertiary: #{$dark-tertiary-text};
  --icon-color: #{$dark-icon};
  --logo-color: #{dark-logo};
  --badge-color: #{$dark-badge-color};
}

#root {
  display: flex;
  flex-direction: column;
  padding: 1em;

  @include tablet {
    padding: 2em;
  }
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-family: "Cocogoose";
  font-size: 20px;
  color: var(--text-color);
}
h2 {
  font-family: "Cocogoose";
  font-size: 18px;
}

h3 {
  font-family: "Cocogoose";
  font-size: 16px;
}
h4 {
  font-family: "Cocogoose";
  font-size: 14px;
  text-transform: uppercase;
}
body,
link {
  font-family: "Made Mirage";
  font-size: 14px;
}

body-small {
  font-family: "Made Mirage";
  font-size: 10px;
}

@media (min-width: 768px) {
  h1 {
    font-family: "Cocogoose";
    font-size: 24px;
  }

  h2 {
    font-family: "Cocogoose";
    font-size: 22px;
  }

  h3 {
    font-family: "Cocogoose";
    font-size: 20px;
  }

  body {
    font-family: "Made Mirage";
    font-size: 16px;
  }

  body-small {
    font-family: "Made Mirage";
    font-size: 14px;
  }
}
