@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin background-style {
  padding: 20px;
  background-color: var(--bg-color-secondary);
  border-radius: 8px;
}

@mixin checkbox {
  width: 20px;
}

@mixin button {
  background-color: var(--cta-color);
  color: var(--cta-text-color);
  border-radius: 8px;
  padding: 8px 0;
  width: 100%;
  border: none;
}
