@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin background-style {
  padding: 20px;
  background-color: var(--bg-color-secondary);
  border-radius: 8px;
}

@mixin checkbox {
  width: 20px;
}
