$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//color styles
$primary-text: #2f2f2f;
$secondary-text: #ffffff;

$bg-beige: #f7f2ed;
$light-beige: #faf9f6;
$icons: #635443;

//default
$light-primary-text: #2f2f2f;
$light-tertiary-text: #ffffff;
$light-primary-background: #f0e6dc;
$light-secondary-background: #faf9f6;
$light-icon: #635443;
$light-logo: #993333;
$light-badge-color: #993333;

$dark-primary-text: #ffffff;
$dark-tertiary-text: #4d5157;
$dark-primary-background: #171719;
$dark-secondary-background: #2f2f2f;
$dark-icon: #c2a788;
$dark-logo: #ffffff;
$dark-badge-color: #cf6679;
