$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//default
$light-primary-text: #2f2f2f;
$light-tertiary-text: #ffffff;
$light-primary-background: #f0e6dc;
$light-secondary-background: #faf9f6;
$light-icon: #635443;
$light-logo: #993333;
$light-badge-color: #993333;
$light-cta-color: #2f2f2f;
$light-cta-text: #ffffff;

$dark-primary-text: #ffffff;
$dark-tertiary-text: #4d5157;
$dark-primary-background: #171719;
$dark-secondary-background: #2f2f2f;
$dark-icon: #c2a788;
$dark-logo: #ffffff;
$dark-badge-color: #cf6679;
$dark-cta-color: #843232;
$dark-cta-text: #ffffff;
