$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//color styles
$primary-text: #2f2f2f;
$secondary-text: #ffffff;

$bg-beige: #f7f2ed;
$light-beige: #faf9f6;
$icons: #635443;

//with light and dark mode in mind

//default
$light-primary-text: #2f2f2f;
$light-primary-background: #f7f2ed;

$dark-primary-text: #ffffff;
$dark-primary-background: #171719;
