.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.header__logo {
  fill: var(--logo-color);
}

.cart {
  position: relative;
}

.cart__icon {
  position: absolute;
  right: 90%;
  bottom: 10%;
}

.cart__value {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--badge-color);
  color: var(--text-color-tertiary);
  border-radius: 100%;
  padding: 0.75em;
  left: 5%;
  bottom: 10%;
}
